lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
/.idea
/package-lock.json
/.idea/vcs.xml
/.idea/bunyan-elasticsearch.iml
/.idea/modules.xml
.idea/workspace.xml
